# dev requirements -- to just install the package from source, use pip install .
# include the main package deps
-e .[all]

# devtools
black
build
isort
twine

# docs
furo~=2023.9.10
sphinx~=7.2.6
sphinxemoji~=0.2.0
sphinx-copybutton~=0.5.2
sphinx-inline-tabs~=2023.4.21
sphinx-sitemap~=2.5.1
sphinxext-opengraph~=0.9.0
matplotlib>=3.0.0,<4.0.0  # depended on by opengraph
myst-parser~=2.0.0
