name: Build Docs

on: [ push ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # ==== vue ====
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts'
          cache: "npm"

      - name: Install leaderboard deps
        working-directory: ./leaderboard
        run: npm install

      - name: Build leaderboard
        working-directory: ./leaderboard
        run: npm run build

      - name: Bundle leaderboard with docs
        run: cp -R leaderboard/dist/. docs/_extra/leaderboard

      # ==== sphinx ====
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build docs
        working-directory: ./docs
        run: sphinx-build -T -E -W --keep-going -b html "." "_build/html"

      # ==== upload ====
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'docs/_build/html/'

  deploy:
    # Add a dependency to the build job
    needs: build
    if: github.ref == 'refs/heads/main'

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
